@import 'primeflex/primeflex.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul {
  list-style: none;
  padding-left: 0; /* Retirer l'indentation de la liste */
}

a {
  text-decoration: none;
  color: black;
}
